<header class="site-header">
	<div class="inner">
		<h1 class="logo">
			<img src="/assets/img/logo.png" alt="Aloveu" />
		</h1>
		<nav>
			<ul class="navbar">
				<li>
					<a href="/profile" class="{% if page.url == '/profile.html' %}current{% endif %}">PROFILE</a>
				</li>
				<li>
					<a href="{{ base_path }}/" class="{% if page.url != '/profile.html' and page.url != '/tags/' %}current{% endif %}">ARCHIVES</a>
				</li>
				<li>
					<a href="/tags" class="{% if page.url == '/tags/' %}current{% endif %}">TAGS</a>
				</li>
			</ul>
		</nav>
	</div>
</header>