
<article class="list">
	<ul class="post-list">
		{% for post in site.categories %}
		<li>
			<a href="{{ post.url }}">
				<h3 class="post-tit">{{ post.title }}</h3>
			</a>
			<p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
			<p class="tagGroup">
				{% for tag in post.tags %} <a href="/tags/#{{ tag }}" class="btnTag tag-{{ tag }}">{{ tag }}</a> {% endfor %}
			</p>
			<div class="meta">
				<p class="date">{{ post.date | date: '%Y-%m-%d' }}</p>
			</div>
		</li>
		{% endfor %}
	</ul>
</article>