
/* 탭메뉴 */
.tab {
    position: relative;
    overflow: hidden;
    *zoom: 1;
}

.tab:after {
    content: "";
    display: block;
    clear: both;
}

.tab li {
    position: relative;
    left: -1px;
    float: left;
    border-left: 1px solid red;
}

.tab a {
    display: block;
    padding: 5px 10px;
}

/* codeHighlighter */
pre.cH_kip {
    white-space: pre-wrap;
    font-family: "나눔고딕코딩", consolas, monaco, verdana;
    margin-bottom: 15px;
    border: 1px solid #1B2426;
    background: transparent;
    border-radius: 8px;
    padding: 15px 5px;
    background: #333;
    *margin: 10px 0;
    *padding: 10px;
    *border: 1px solid #d3d3d3;
    *background: #f3f3f3;
    overflow: auto;
}

pre.cH_kip ol {
    margin: 0;
    padding: 0;
    padding-left: 2.5em;
    font-size: .9em;
}

pre.cH_kip li {
    margin: 0 !important;
    padding: 0 0 0 2px;
    border-left: 3px solid #090;
    color: #DFC484;
    line-height: 1.5em;
    list-style: decimal
}

pre.cH_kip li:before {
    content: '' !important
}

pre.cH_kip li.fifth, pre.cH_kip li > span {
    color: #DFC484;
}

pre.cH_kip li > span {
    border: none !important;
}

pre.cH_kip li.odd {
    background: #333;
}

pre.cH_kip li.even {
    background: #333;
}

pre.cH_kip li.menu {
    background: silver;
    padding: 0;
    border: none;
    text-align: right;
}

pre.cH_kip a {
    color: #ddd !important;
    text-decoration: none !important;
    background: none !important;
}

pre.cH_kip a:hover {
    padding-bottom: 2px;
    border-bottom: 2px solid;
}

pre.cH_kip b, pre.cH_kip a {
    color: #ddd;
    font-weight: normal;
}

pre.cH_kip .meta {
    color: #888;
}

pre.cH_kip .section {
    color: #ddd;
}

pre.cH_kip .group {
    color: #ddd;
}

pre.cH_kip .heading {
    font-weight: bold;
}

pre.cH_kip .interactive {
    color: #ddd;
}

pre.cH_kip .embed {
    color: #ed9b00;
}

pre.cH_kip .jsSyntax {
    color: #00f;
    font-style: italic;
}

pre.cH_kip .jsString {
    color: #8E9C5C;
}

pre.cH_kip .comment, pre.cH_kip .comment * {
    color: #090 !important;
}

pre.cH_kip .css_Important {
    color: #f00 !important;
}

pre.cH_kip div.em {
    outline: 2px dashed red;
}

.post code {
    width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.post code strong {
    font-weight: bold;
    color: red !important;
}

/* 라디오버튼 */
input[type=radio] {
    position: absolute;
    margin: 8px 10px 0 0;
    height: 9px;
    width: 9px;
    background: #fff;
    border: 1px solid #fff;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
}

input[type=radio] + label {
    font: normal 18px/18px;
    margin-left: 35px;
}

input[type=radio] + label::before {
    content: "\2714";
    display: inline-block;
    text-indent: -9999px;
    width: 14px;
    height: 14px;
    font: bold 12px/12px;
    text-transform: uppercase;
    border: solid 1px #767676;
    border-radius: 7px;
    box-shadow: 0 0 1px 1px #ccc;
    background: #fff;
    margin: 3px 4px 0 -35px;
}

input[type=radio]:checked + label::before {
    text-indent: 2px;
    color: #0b70cd;
    text-shadow: 0 0 2px #0b70cd;
}

/* 체크박스 */
input[type=checkbox] {
    position: absolute;
    margin: 2px 10px 0 0;
    height: 10px;
    width: 10px;
    background: #fff;
    border: 1px solid #fff;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
}

input[type=checkbox] + label {
    font: normal 18px/18px;
    margin-left: 35px;
}

input[type=checkbox] + label::before {
    content: "\2714";
    display: inline-block;
    text-indent: -9999px;
    width: 16px;
    height: 16px;
    font: bold 14px/14px;
    text-transform: uppercase;
    border: solid 1px #767676;
    border-radius: 3px;
    box-shadow: 0 0 1px 1px #ccc;
    background: #fff;
    margin: 3px 4px 0 -35px;
}

input[type=checkbox]:checked + label::before {
    text-indent: 2px;
    color: #0b70cd;
    text-shadow: 0 0 2px #0b70cd;
}

.test ::-webkit-input-placeholder::after {
    display: block;
    content: "타인을 배려하는 마음으로 댓글을 달아주세요 \A 내용에 따라 임의 조치를 수행 할 수 있습니다.";
    letter-spacing: -0.1em;
}

.test textarea[placeholder], .test input[placeholder], .test [placeholder], .test *[placeholder] {
    color: #00ffff;
}

/* social_group */
#pinter {
    margin-left: 0;
    width: 330px;
}

#insta {
    font-family: 'Nanum Gothic', '나눔고딕';
    color: #474747;
    vertical-align: top;
}

#insta a:hover, .social a:active {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#insta h3 {
    margin: 0 0 10px 0;
}

#insta img {
    width: 100%;
}

#insta ul {
    padding: 0;
    overflow: hidden;
}

#fb li span {
}

.facebookfeed li {
    float: left;
}

.entry-content .facebookfeed ul li:before, .entry-content ul#instafeed1 li:before, .entry-content ul#instafeed li:before, .entry-content ul#instafeed2 li:before {
    content: '';
}

#instafeed1, #instafeed, #instafeed2 {
    overflow: hidden;
    display: block;
}

.postid-1041 #instafeed1 li, .postid-1041 #instafeed li, .postid-1041 #instafeed2 li {
    float: left;
    width: 200px;
    height: 200px;
}

.bx-pager {
    display: none;
}

.bx-controls-direction, .bx-controls-auto {
    float: left;
}

.bx-controls-auto-item, .bx-controls-direction a {
    display: inline-block;
    margin: 0 5px;
}

.bx-pager-item {
    display: inline-block;
}

/* header search */
.header-search-form {
    float: right;
}

/* 구글 광고 */
.ad {
    margin: 0 auto;
}

.adsbygoogle {
}
