<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Aloveu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <meta name="google-site-verification" content="yXb15XFw6gWssE76fNosxjMG7pjk2eYaN-_F60Z6YX4" />
    <meta name="naver-site-verification" content="1d0aaa90bb16c0f7821e5c76c1e20c4d6d5cdf44" />
    <link rel="icon" href="{{site.url}}{{site.baseurl}}/assets/img/favicon.ico" type="image/gif" sizes="16x16" />
    <link href="https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding/d2coding.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/syntax-one-dark.css">
    {% feed_meta %}
    {% seo %}
</head>
<body>
{% include header.html %}
{{ content }}
{% include footer.html %}
</body>
</html>