<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Aloveu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" />
    <link rel="icon" href="{{site.url}}{{site.baseurl}}/assets/img/favicon.ico" type="image/gif" sizes="16x16" />
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% feed_meta %}
    {% seo %}
</head>
<body>
{% include header.html %}
<ins class="adsbygoogle"
    style="display:block; text-align:center;"
    data-ad-layout="in-article"
    data-ad-format="fluid"
    data-ad-client="ca-pub-7890035761565340"
    data-ad-slot="4603684404"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
{{ content }}
{% include footer.html %}
</body>
</html>