---
layout: default
subTitle: '포스트안 페이지'
---
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7890035761565340"
    crossorigin="anonymous"></script>

<article class="site-content">
    <h1>{{ page.title }}</h1>
    <div class="sub-info">
        <span class="post-date">📆 {{ page.date | date_to_string }} - 👦 {{ site.author }}</span>
        <span>
        {% for tag in page.tags %} <a href="/tags/#{{ tag }}" class="btnTag tag-{{ tag }}">{{ tag }}</a> {% endfor %}
        </span>
    </div>

    {{ content }}

    <!-- comment -->
    <script src="https://utteranc.es/client.js"
        repo="aloveu/aloveu.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
    </script>
</article>

<div class="pagination">
    <div class="inner posting">
        {% assign prev = page.previous %}
            {% if prev %}
            <a href="{{ prev.url }}" class="next-post">{{ prev.title }}</a>
            {% endif %}
        {% assign next = page.next %}
            {% if next %}
                <a href="{{ next.url }}" class="prev-post">{{ next.title }}</a>
            {% endif %}
    </div>
</div>