---
layout: default
---
<article class="site-content">
    <h1>{{ page.title }}</h1>
    <p>{{ page.date | date_to_string }} - {{ site.author }}</p>

    <ins class="adsbygoogle"
        style="display:block; text-align:center;"
        data-ad-layout="in-article"
        data-ad-format="fluid"
        data-ad-client="ca-pub-7890035761565340"
        data-ad-slot="4603684404"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    {{ content }}
</article>

<div class="pagination">
    {% assign prev = page.previous %}
    {% if prev %}<a href="{{ prev.url }}" class="prev-post">{{ prev.title }}</a>
    {% endif %}
    {% assign next = page.next %}
    {% if next %}
    <a href="{{ next.url }}" class="next-post">{{ next.title }}</a>
    {% endif %}
</div>